body {
    padding:0;
    font-family:'Times New Roman';
    margin-left:auto;
    margin-right:auto;
    background-color: #f5f5f5;

}
#header-link
{
    font-size: larger;
    margin-top:-6.6px;
    height:50px;

}
#menu{
    background-color: #c96;
    text-align:center;
    z-index: 2;
    padding-left: 290px;
    font-weight: bold;
}
#menu .fas{
    margin-right:7px;
    color:white;
}
#menu ul {
    display:inline-flexbox;
    height: 50px;
    margin-left:-40px;
    margin-top: 7px;
    z-index: 3;
    list-style:none;
}
#menu ul li{
    height:50px;
    padding-left:30px;
    padding-right:30px;
    float:left;
    position:relative;

    z-index: 4;
}
#menu ul li a{
    text-decoration:none;
    color:white;
    line-height:50px;
    z-index: 5;
}
#menu ul li:hover{
    background: #bd8037;
}
.submenu{
    display: none;
    
}
#menu ul li:hover .submenu{
    display:block;
    position:absolute;
    background: #c96;
    left:0;
    
}
#menu ul li:hover .submenu ul{
    text-align:center; 
    margin-top:-0.4px;
    
}
#menu ul li .submenu ul li {
    width:131px;
    text-align:left;
}
#menu ul li ul li .submenu2{
    display:none;
    position:absolute;
    background: #c96;
    margin-left:161px;
    margin-top:-49.15px;
}
#menu ul li ul li .submenu2 ul li{
    width:235px;
    text-align:left;
}
#menu li li:hover .submenu2{
    display:block;
    
}
#menu ul li ul li ul li .submenu3{
    display:none;
    position:absolute;
    background: #c96;
    margin-left:265px;
    margin-top:-49.20px;
}
#menu li li li:hover .submenu3{
    display:block;
    
}
#search{
    margin-top:-110px;
    margin-left:600px;
}
#s_btn{

    margin-top:-34px;
    margin-right:392px;
}
#search ul{
    list-style-type:none;
}
#header-link input
{
   border-radius:50px;
}
.button
{
    color:white;
    float:right;
    margin-top:-64px;
    margin-right:15px;
}
.fa-chevron-right{
    float:right;
    color:white;
    margin-top:14px;
}
#content {
    /*margin-top:-20px;*/
    background-color: white;
    height:auto;
    width:100%;
    float:left;
    margin-left: auto;
    margin-right:auto;
    
}
#right {
    margin-top:-20px;
    background-color: white;
    height:2000px;
    width: 19.9%;
    border-left: 1px solid gray;
    float:right;
}
#footer {
    clear:both;
    height:350px;
    background-color: #c96;
}
.slideshow {
    margin-top:-20px;
    width: 100%;
    height:350px;
    overflow:hidden;
    position:absolute;
    transform:translate(0px,20px);
    z-index: 1;
  
}
.action {
    position: absolute;
    bottom: 10px;
    left: 42%;
    transform:translateX(30%);
    display: flex;
    
}
.bar {
    width:20px;
    height:20px;
    border: 2px solid black;
    border-radius: 30px;
    margin: 20px;
    cursor:pointer;
}
.slide img{
    
    width: 1550px;
    height:400px;
    
}
.bar:hover {
    background-color: #fff;
    transition: 0.6s;
    border: 2px solid red;
}
input[name="buttom"] {
    position:absolute;
    visibility:hidden;
}
.slider {
    width:500%;
    height:500px;
   
}
.slide {
    width:20px;
    transition: 0.6s;
}
#buttom_1:checked ~ .s1 {
        margin-bottom:0px;
}
#buttom_2:checked ~ .s1 {
        margin-bottom:-405px;
}
#buttom_3:checked ~ .s1 {
        margin-bottom:-809px;
}
#buttom_4:checked ~ .s1 {
        margin-bottom:-1214px;
}
.newpet {


    margin-left:130px;

}
.new {
    width:240px;
    
}
.new img{
    width:240px;
    height:290px;
}
.button{
    border-radius: 20px;
    padding: 0 30px;
    background: #996633;
    text-transform: uppercase;
}
.buy {
    width: 95%;
    height:1000px;
}
.buttonSL{
    float:left;
    height: 30px;
    width: 30px;
    background: #545454;
    border: 1px solid #353535;
        cursor: pointer;
}
.sl{
    float:left;
    height: 26px;
    width: 42px;
    text-align:center;
    border: 1px solid #353535;
}